<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 text-center mt-5">
            <h1>Welcome!</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="inputAccount" class="form-label">Account</label>
                    <input type="text" name="account" class="form-control" id="inputAccount">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>