{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 text-center mt-5">
            <h1>Create a Account Now!</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="/sign-up" method="post">
                <div class="mb-3">
                    <label for="inputAccount" class="form-label">Account</label>
                    <input type="text" name="name" class="form-control" id="inputAccount">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <a href="/login" class="btn btn-primary">Already Have An Account</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>