<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 text-center mt-5">
            <h1>Welcome {{user.name}}!</h1>
            <h1>Here are all topics!</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="/topics" method="post">
                <div class="mb-3">
                    <label for="inputTopic" class="form-label">Topic</label>
                    <input type="text" name="topic" class="form-control" id="inputTopic">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6 text-center mt-5">
            {{#each topics}}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{topic}}</h5>
                    <h5 class="card-title">Created At: {{createdAt}}</h5>
                    <a href="/topics/{{slug}}" class="btn btn-primary">Details</a>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col"></div>
    </div>
</div>